setuptools
ipython
ipython-genutils
ipywidgets
numpy
cython
pandas
scikit-image
scikit-learn
scipy
protobuf
Pygments
imageio
imutils
six
pytz
cycler
tornado
pyparsing
libagg
freetype-py
pypng
pyhull
matplotlib
seaborn
jupyter
widgetsnbextension
futures
html5lib
Pillow
opencv-python
tensorflow
tensorflow-tensorboard
Theano
xgboost
Keras
